
.drag-box {
  width: 100%;
  overflow: hidden;
}

.drag-left {
  height: 100%;
  float: left;
}

.drag-resize {
  width: 5px;
  height: 100%;
  cursor: col-resize;
  float: left;
  border-right: 1px solid #c1c7d0;
}

.drag-resize:hover {
  background-color: #c1c7d0;
}

.drag-right {
  float: right;
  height: 100%;
}

